*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  
}


.links{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 4rem;
  background-color: #1C7BED;
  color: white;
  padding: 0px 15px;
  
  
  
}
h1{
  color:#1C39ED;
}
.links li{
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  
  
}
.links li a{
  color:#A593F5;
  
  
  
  
}
.img img{
  border: 2px solid #1C7BED;
  margin-left: 1rem;
  position: absolute;
  height: 250px;
  width: 250px;
  margin-top:1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}
h2{
  /* border: 2px solid red; */
  position: absolute;
color: #1C7BED;
margin-top:3.5rem;
margin-left: 2.5rem;
padding: 1.5rem;
z-index: 1;
}
p{
    /* border: 2px solid red; */
    position: absolute;
    width: 19rem;
    margin-top:5.8rem;
    padding:2.5rem;
    z-index: 1;
    /* flex-wrap: wrap; */
    color:white;
    }
